@font-face {
    font-family: 'horror';
    src: url(fofbb_ital.ttf);
}


@font-face {
    font-family: 'digital';
    src: url(ArcadeNormal-ZDZ.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.copyright {
    display: none;
}

.audio-on {
    color: white;
    z-index: 13;
    grid-column: 3/5;
    grid-row: 11/13;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: none;
}

.audio-off {
    color: white;
    z-index: 13;
    grid-column: 3/5;
    grid-row: 11/13;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.play {
    grid-row: 8/10;
    grid-column: 2/6;
    background-color: rgb(255, 255, 255);
    z-index: 12;
    color: black;
    font-size: 3em;
    cursor: pointer;
    font-family: digital;
    filter: drop-shadow(rgb(0, 0, 0) 0.2rem 0.2rem 10px);
}

.menu {
    z-index: 12;
    grid-row: 5;
    margin-left: 7%;
    grid-column: 1/7;
    color: white;
    font-family: digital;
    white-space: nowrap;
    font-size: 3em;
}

.begin-overlay {

    grid-column: 1/21;
    grid-row: 1/21;
    height: 100%;
    width: 100%;
    z-index: 5;
    user-select: none;
    pointer-events: none;
}

.overlay {
    background-image: url("grain.gif");
    grid-row: 1/21;
    background-position: center;
    z-index: 100;
    opacity: 15%;
    grid-column: 1/21;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    height: 100vh;
}

.background {
    grid-column: 1/21;
    grid-row: 1/21;
    background-color: black;
}

.kvadrat {
    grid-column: 1/21;
    grid-row: 1/21;
    justify-self: center;
    align-self: center;
    height: 80%;
    width: 50%;
    background-color: rgb(0, 0, 0);
    border: 5px solid white;
    box-shadow: 0px 0px 20px white;
}

.title {
    grid-column: 6/16;
    grid-row: 3/6;
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 3em;
    font-family: 'digital';
    white-space: nowrap;
}





.third-form {
    grid-column: 7/15;
    grid-row: 8/10;
    font-family: 'horror';
    z-index: 500;
    display: none;
}

.questions-display {
    grid-column: 7/15;
    grid-row: 5/8;
    color: white;
    justify-self: center;
    align-self: center;
    font-size: 1.1em;
    text-align: center;
    font-family: digital;
}

.questionsdisplaymid {
    grid-column: 7/15;
    grid-row: 5/8;
    color: white;
    justify-self: center;
    align-self: center;
    font-size: 1.1em;
    text-align: center;
    font-family: digital;
    z-index: 500000000000000000000000000000000;
}

.heart1, .heart2, .heart3 {
    grid-row: 17/19;
    height: 100%;
    width: 60%;
    justify-self: center;
    align-self: center;
    margin-bottom: 10%;
    transition: transform .5s forwards;
}

.heart3 {
    grid-column: 12/14;


}

.heart1 {
    grid-column: 8/10;
}

.heart2 {
    grid-column: 10/12;
    
}

.submitbutton {
    grid-column: 9/13;
    grid-row: 14/16;
    height: 100%;
    width: 100%;
    background-color: rgb(119, 119, 119);
    font-size: 1.5em;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    border: none;
    font-family: digital;
    white-space: nowrap;
    z-index: 501;
    display: none;

}
.submitbutton:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
}


.first-form {
    grid-column: 7/15;
    grid-row: 8/10;
    white-space: nowrap;
    display: none;
}

.first-choice1 {
    position: absolute;
    height: 8%;
    width: 8%;
    top: 45%;
    left: 29.5%;
    cursor: pointer;
}

.first-choice2 {
    position: absolute;

    height: 8%;
    width: 8%;
    top: 45%;
    left: 61.32%;
    cursor: pointer;

}

.first-label1 {
    position: absolute;
    color: white;
    font-size: 3em;
    top: 37%;
    z-index: 5;
    font-family: digital;
}

.first-label2 {
    margin-left: 3%;
    position: absolute;
    top: 37%;
    left: 60%;
    color: white;
    font-size: 3em;
    font-family: digital;
}

.second-form {
    position: absolute;
    left: 3.5%;
    height: 100%;
    width: 100%;
    color: white;
    top: 1.8%;
    z-index: 500;
    display: none;
}

.second-choice1 {
    position: absolute;
    top: 31%;
    left: 35%;
    height: 6%;
    width: 6%;
    cursor: pointer;
}

.second-choice2 {
    position: absolute;
    top: 39%;
    left: 35%;
    height: 6%;
    width: 6%;
    cursor: pointer;
}

.second-choice3 {
    position: absolute;
    top: 47%;
    left: 35%;
    height: 6%;
    width: 6%;
    cursor: pointer;
}

.second-choice4 {
    position: absolute;
    top: 55%;
    left: 35%;
    height: 6%;
    width: 6%;
    cursor: pointer;
}

.second-label1 {
    font-family: digital;
    position: absolute;
    top: 30.25%;
    left: 50%;
    font-size: 3.5em;
}

.second-label2 {
    font-family: digital;
    position: absolute;
    top: 38.25%;
    left: 50%;
    font-size: 3.5em;
}

.second-label3 {
    font-family: digital;
    position: absolute;
    top: 46.25%;
    left: 50%;
    font-size: 3.5em;
}

.second-label4 {
    font-family: digital;
    position: absolute;
    top: 54.26%;
    left: 50%;
    font-size: 3.5em;
}





.jeff {
    grid-column: 9/13;
    grid-row: 10/13;
    height: 100%;
    width: 100%;
    display: none;
}

.input {
    font-size: 3em;
    height: 50%;
    width: 100%;
    background-color: white;
    z-index: 5;
    display: none;
}

.static {
    grid-column: 1/21;
    grid-row: 1/21;
    height: 100%;
    width: 100%;
    z-index: 1000000000;
    opacity: 0;  /* Initial opacity */
    pointer-events: none;
}

.staticevent {
    animation: statismo 5s forwards;  /* Make sure the animation runs for 3s */
}


.fourth-form {
    margin-left: 10%;
    grid-column: 6/10;
    grid-row: 8;
    height: 100%;
    width: 100%;
    font-family: digital;
    display: none;
    z-index: 500;
}

.selector {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.ranger {
    font-family: digital;
}

.russian {
    grid-column: 11/16;
    grid-row: 8/13;
    height: 100%;
    width: 100%;
    margin-left: -5%;
    display: none;
}

.fifth-form {
    grid-column: 7/14;
    grid-row: 8/10;
    height: 100%;
    width: 100%;
    background-color: white;
    margin-left: -8%;
    display: none;
    z-index: 100000;
}

.full {
    height: 100%;
    width: 100%;
    font-size: 4em;
}

.error {
    grid-column: 8/14;
    grid-row: 11;
    font-size: 1em;
    color: white;
    font-family: digital;
    text-align: center;
    display: none;
}

.counter {
    color: white;
    grid-column: 14;
    grid-row: 8;
    font-size: 5em;
    font-family: digital;
    display: none;
}

.sixth-form {
    grid-column: 7/15;
    grid-row: 8/14;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.box1 {
    position: absolute;
    top: 57%;
    left: 29.5%;
    height: 5%;
    width: 5%;
    cursor: pointer;
    display: none;
}

.box2 {
    position: absolute;
    top: 57%;
    left: 41.5%;
    height: 5%;
    width: 5%;
    cursor: pointer;
    display: none;
}

.box3 {
    position: absolute;
    top: 57%;
    left: 53.5%;
    height: 5%;
    width: 5%;
    cursor: pointer;
    display: none;
}

.box4 {
    position: absolute;
    top: 57%;
    left: 65.5%;
    height: 5%;
    width: 5%;
    cursor: pointer;
    display: none;
}

.possession {
    position: absolute;
    top: 35%;
    left: 26.5%;
    height: 20%;
    width: 11%;
    display: none;
}

.shining {
    position: absolute;
    top: 35%;
    left: 38.5%;
    height: 20%;
    width: 11%;
    display: none;
}

.alien {
    position: absolute;
    top: 35%;
    left: 50.5%;
    height: 20%;
    width: 11%;
    display: none;
}

.lambs {
    position: absolute;
    top: 35%;
    left: 62.5%;
    height: 20%;
    width: 11%;
    display: none;
}

.seventh-form {
    grid-column: 9/13;
    grid-row: 13;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 50000000;
}

.thenumber {
    height: 100%;
    width: 100%;
    font-size: 2em;
    margin-top: -50%;
    margin-left: -.5%;
    z-index: 502;
}

.the-nightmare {
    height: 100%;
    width: 100%;
    grid-column: 8/14;
    grid-row: 8/12;
    display: none;
}

.eight-form {
    margin-left: 10%;
    grid-column: 6/10;
    grid-row: 8;
    height: 100%;
    width: 100%;
    font-family: digital;
    display: none;
    z-index: 500;
}

.selector1 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.ranger {
    font-family: digital;
}

.the-rake {
    grid-column: 11/16;
    grid-row: 8/13;
    height: 100%;
    width: 100%;
    margin-left: -5%;
    display: none;
}

.nineth-form {
    grid-column: 7/15;
    grid-row: 8/14;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
}

.box1-1 {
    position: absolute;
    top: 57%;
    left: 29.5%;
    height: 5%;
    width: 5%;
    cursor: pointer;

}

.box2-2 {
    position: absolute;
    top: 57%;
    left: 41.5%;
    height: 5%;
    width: 5%;
    cursor: pointer;
}

.box3-3 {
    position: absolute;
    top: 57%;
    left: 53.5%;
    height: 5%;
    width: 5%;
    cursor: pointer;
}

.box4-4 {
    position: absolute;
    top: 57%;
    left: 65.5%;
    height: 5%;
    width: 5%;
    cursor: pointer;
}

.scream {
    position: absolute;
    top: 35%;
    left: 26.5%;
    height: 20%;
    width: 11%;
    display: none;
}

.jigsaw {
    position: absolute;
    top: 35%;
    left: 38.5%;
    height: 20%;
    width: 11%;
    display: none;
}

.slender-man {
    position: absolute;
    top: 35%;
    left: 50.5%;
    height: 20%;
    width: 11%;
    display: none;
}

.smile-dog {
    position: absolute;
    top: 35%;
    left: 62.5%;
    height: 20%;
    width: 11%;
    display: none;
}

.tenth-form {
    grid-column: 7/15;
    grid-row: 8/10;
    height: 100%;
    width: 100%;
    background-color: white;
    display: none;
    z-index: 100000;

}

.full1 {
    height: 100%;
    width: 100%;
    font-size: 4em;
}

.playagain {
    grid-column: 9/13;
    grid-row: 9/11;
    background-color: rgb(119, 119, 119);
    height: 100%;
    width: 100%;
    z-index: 5000000001;
    display: none;
    cursor: pointer;
    font-family: digital;
    font-size: 1.5em;

}

.playagain:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.goback {
    grid-column: 9/13;
    grid-row: 13/15;
    background-color: rgb(119, 119, 119);
    height: 100%;
    width: 100%;
    z-index: 5000000001;
    cursor: pointer;
    font-family: digital;
    font-size: 1.5em;
    display: none;
}

.goback:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.happy1 {
    grid-column: 20/17;
    grid-row: 13/16;
    height: 100%;
    width: 100%;
    z-index: 50000000000000;
    transform: rotate(20deg);
    opacity: 0;
    transition: transform 0.5s ease;
    pointer-events: none;
}

.happy2 {
    grid-column: 2/5;
    grid-row: 13/16;
    height: 100%;
    width: 100%;
    transform: rotate(-20deg);
    opacity: 0;
    transition: transform 0.5s ease;
    pointer-events: none;
}

.happywhite {
    grid-column: 20/17;
    grid-row: 4/7;
    height: 100%;
    width: 100%;
    transform: rotate(-20deg);
    opacity: 0;
    transition: transform 0.5s ease;
    pointer-events: none;
}

.happyblack {
    grid-column: 2/5;
    grid-row: 4/7;
    height: 100%;
    width: 100%;
    transform: rotate(20deg);
    opacity: 0;
    transition: transform 0.5s ease;
    pointer-events: none;
}

.add {
    opacity: 1;
    animation: appear 1s forwards;

}

.blink {
    opacity: 1;
    animation: blinking 4s forwards;
}


.midblack {
    justify-self: center;
    align-self: center;
    background-color: black;
    height: 75%;
    width: 75%;
    grid-column: 7/15;
    grid-row: 5/8;
    display: none;
    z-index: 99999999999999999999;
    border: 5px solid white;
}

@keyframes statismo {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}
